.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 10px;
}

h3 {
  margin: 0px;
}

p {
  margin: 5px;
}

.budget-control-panel {
  margin-top: 10px;
}

input[type=range] {
  width: 400px;
}

.tab-button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.transport-tab {
  background-color: #4188b9;
}

.housing-tab {
  background-color: #cfd041;
}

.food-tab {
  background-color: #4CAF50;
}

.other-tab {
  background-color: #854caf;
}

.bottom-button {
  margin-top: 15px;
}

.PieChart-1 {
  /* height: 50vh; */
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.legend > p {
  margin: 0;
}

.category-section {
  height: 200px;
  overflow: auto;
}

.sub-category {
  margin: 5px;
}

.sub-category-info {
  margin: 5px;
}

.budget-control-panel>form {
  margin-top: 10px;
}
